.btn-outline-success{
  color: var(--bs-btn-hover);
   background-color: var(--bs-btn-bg);
}

.btn-danger{
  --bs-btn-border-color: green;
}

.flex{
  margin-left: 5rem;
}

span{
  display: table;
  width: 25%;
  text-align: center;
  margin-left: 40%;
  margin-top: 2rem;
  margin-bottom: 2rem;
}
